/*
Color Pallete:

Color Theme Swatches in Hex
.Web-Portfolio-1-hex { color: #333333; } // Gray
.Web-Portfolio-2-hex { color: #FF6600; } // Orange
.Web-Portfolio-3-hex { color: #202020; } // Dark Gray
.Web-Portfolio-4-hex { color: #0066FF; } // Blue
.Web-Portfolio-5-hex { color: #EEEEEE; } // White

Color Theme Swatches in RGBA
.Web-Portfolio-1-rgba { color: rgba(51, 51, 51, 1); }
.Web-Portfolio-2-rgba { color: rgba(255, 102, 0, 1); }
.Web-Portfolio-3-rgba { color: rgba(32, 32, 32, 1); }
.Web-Portfolio-4-rgba { color: rgba(0, 102, 255, 1); }
.Web-Portfolio-5-rgba { color: rgba(238, 238, 238, 1); }

Color Theme Swatches in HSLA
.Web-Portfolio-1-hsla { color: hsla(0, 0, 20, 1); }
.Web-Portfolio-2-hsla { color: hsla(24, 100, 50, 1); }
.Web-Portfolio-3-hsla { color: hsla(0, 0, 12, 1); }
.Web-Portfolio-4-hsla { color: hsla(216, 100, 50, 1); }
.Web-Portfolio-5-hsla { color: hsla(0, 0, 93, 1); }
*/


/* We can also create user-defined variables to store custome values to be used through out this CSS document */
/* Defining a variable: '--variable-name:  value;' */
/* Recalling a variable: 'var(--variable-name);' */
/* We cna also calculate math expersions using the calc() function; just make sure to surround any operands with whitespace */
:root {
  --color-scheme-gray: #333333;
  --color-scheme-dark-gray: #202020;
  --color-scheme-white: #EEEEEE;
  --color-scheme-blue: #0066FF;
  --color-scheme-orange: #FF6600;
  --navbar-header-height: 80px;
}


* {
	box-sizing: border-box;
}
body {
	padding-top: var(--navbar-header-height);
	min-height: 100vh;
	margin: 0px;
	font-family: Trebuchet MS;
	color: var(--color-scheme-white);
	background-color: var(--color-scheme-dark-gray);
}

h1 {
	text-align: center;
}

.site-logo {
	--site-logo-height: 70px;
	--vertical-margin: calc(calc(var(--navbar-header-height) - var(--site-logo-height)) / 2);
	margin: var(--vertical-margin) 2vw var(--vertical-margin) 2vw;
	height: var(--site-logo-height);
	width: var(--site-logo-height); /* icon is square */
}

.linkedin-logo {
	--linkedin-logo-height: 40px;
	--vertical-margin: calc(calc(var(--navbar-header-height) - var(--linkedin-logo-height)) / 2);
	margin: var(--vertical-margin) 3vw var(--vertical-margin) 1.5vw;
	height: var(--linkedin-logo-height);
	width: var(--linkedin-logo-height); /* icon is square */
	float: right;
}

.email-logo {
	--email-logo-height: 40px;
	--vertical-margin: calc(calc(var(--navbar-header-height) - var(--email-logo-height)) / 2);
	margin: var(--vertical-margin) 1.5vw var(--vertical-margin) 1.5vw;
	height: var(--email-logo-height);
	width: calc(var(--email-logo-height) * 1.35); /* to keep the icon's relative dimentions */
	float: right;
}

.nav-header { 
	height: var(--navbar-header-height);
	width: 100%;
	top: 0px;
	position: fixed;
	background-color: var(--color-scheme-gray);
}

.nav-bar {
	display: inline-block;
	position: absolute;
	top: 35%;
}

.nav-item {
	color: var(--color-scheme-blue);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.75vw;
	margin: auto 2vw;
	vertical-align: middle;
	border: 1px solid transparent;

}

.not-current-page:hover {
    /*this is so that when the user hovers over the navigation links they will fade to orange color*/
    
    animation-name: nav-fade;
    /*refer to @keyframes at the bottom of this file*/
    
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    /*this is so that the animation pauses on the last frame*/
}

#nav-accent {
	height: 3px;
	background-image: linear-gradient(to right, var(--color-scheme-blue) , var(--color-scheme-orange));
}

@keyframes nav-fade {
    from {
        color: var(--color-scheme-blue);
    }
    to {
        color: var(--color-scheme-orange);
    }
}